
 body {
	padding:0;
	margin:0;	
	text-align:center;
}

.welcome {
	padding-top: 50px;
	width:100%;
	height:350px
	
}

.user {
	float: left;
	padding:10px;
	margin-left:35%;
	width:30%;
	height:25px;
	
}

.password {
	float:left;
	margin-left:35%;
	height:25px;
	padding:10px;
	width:30%
	
}

.login-form {
	
}