{
  "parser": "babel-eslint",
  "extends": ["eslint:recommended",  "plugin:react/recommended"],
  "env": {
    "browser": true,
    "node": true
  },
  "parserOptions": {
     "ecmaVersion": 6,
     "sourceType": "module",
     "ecmaFeatures": {
       "jsx": true
     }
  },
  "globals": {
    "window": true,
    "document": true
  },
	"rules": {
		"no-mixed-spaces-and-tabs": 0,
		"react/prop-types": 0,
		"no-console": 1,
		"no-case-declarations": 0,
	},	
  "plugins": [
    "compat",
    "import",
    "promise"
  ]
}

